<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/include/css/stylesheet.css">
    <title>Home</title>
</head>


<body id="body-home">
    <div id="nav-bar">
        <img src="/resources/menu.svg" alt="menu-button" id="menu-button" onclick="movemenu()">
        <div class="circle" id="circle1"></div>
        <div class="circle" id="circle2"></div>
        <div class="circle" id="circle3"></div>
        <div class="circle" id="circle4"></div>
        <div class="circle" id="circle5"></div>
    </div>
    <div id="container">
        <div id="side-menu">
            <%if(!locals.loggedin){%>
                <div class="button" onclick="togglemodal('login-modal')">
                    <span>Sign up</span>
                </div>
            <%}%>
        </div>
        <div id="content"></div>
    </div>
</body>

<%if(!locals.loggedin){%>
    <div id="login-modal" class="modal"">

        <div class="modal-content">

            <h1 id="modal-title">Register</h1>

            <form action="/register" method="post" name="modalForm" id="modal-form">
                <input name="name" type="text" placeholder="Full Name" id="fullname"><br>
                <input name="email" type="email" placeholder="Email"><br>
                <input name="password" type="password" placeholder="Password"><br>
                <button type="submit">Sign Up</button>
            </form>

            <div id="prompt-login">

                <h4 id="account-check">already have an account?</h4>
                <h5 id="switch-login" onclick="switchmodalcontent()">Sign In</h5>

            </div>
        </div>
    </div>
<%}%>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="/include/js/function-home.js"></script>
<script>

const modal = document.getElementById('login-modal')

window.onclick = function(event) {
  if (event.target == modal) {
    togglemodal('login-modal')
  }
}

</script>