$backcolor: #573232;
$navcolor: #432727;
$sidecolor: #502C2C;

#body-home {
  background-color: $backcolor;
  margin: 0;
  height: 100vh;
  overflow: hidden;

  #nav-bar {
    background-color: $navcolor;
    box-shadow: 0 4px 4px 0 rgba($navcolor, 0.75);

    #menu-button {
      &:hover {
        cursor: pointer;
        transform: translateY(-2px);
      }

      &:active {
        box-shadow: 0 4px 4px rgba(black, 0.15);
        transform: translateY(0);
      }
    }

    #circle1,
    #circle2,
    #circle3,
    #circle4,
    #circle5 {
      z-index: 1; /* Set z-index for the circles */
      position: absolute;
    }

    #circle1 {
      left: 2%;
      top: -5%;
    }
    #circle2 {
      left: 10%;
      top: 2%;
    }
    #circle3 {
      left: 80%;
      top: -2%;
    }
    #circle4 {
      left: 87%;
      top: -35%;
    }
    #circle5 {
      left: 85%;
      top: -30%;
    }
  }

  #container {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: $sidecolor;
    z-index: 2;
  }

  #side-menu {
    width: 20%;
    height: 100%;
    background-color: $sidecolor;
    z-index: 2; /* Set z-index for the side-menu higher than the circles */

    }


  #content {
    background-color: $backcolor;
    color: whitesmoke;
    overflow: auto;
    width: 80%;
    right: 0;
    height: 100%;
    z-index: 2; /* Set z-index for the content higher than the circles */
    border-radius: 50px;
    box-shadow: 0 4px 4px 0 rgba(black, 0.15) inset;

      &::-webkit-scrollbar{
        display: none;
      }
  }


  #prompt-login{

    width: 50%;
    margin: auto;
    
    #switch-login{
      
      &:hover{
        cursor: pointer;
        color: blue;
      }

    }

  }

}