#body-home {
  background-color: #573232;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}
#body-home #nav-bar {
  background-color: #432727;
  box-shadow: 0 4px 4px 0 rgba(67, 39, 39, 0.75);
}
#body-home #nav-bar #menu-button:hover {
  cursor: pointer;
  transform: translateY(-2px);
}
#body-home #nav-bar #menu-button:active {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}
#body-home #nav-bar #circle1,
#body-home #nav-bar #circle2,
#body-home #nav-bar #circle3,
#body-home #nav-bar #circle4,
#body-home #nav-bar #circle5 {
  z-index: 1; /* Set z-index for the circles */
  position: absolute;
}
#body-home #nav-bar #circle1 {
  left: 2%;
  top: -5%;
}
#body-home #nav-bar #circle2 {
  left: 10%;
  top: 2%;
}
#body-home #nav-bar #circle3 {
  left: 80%;
  top: -2%;
}
#body-home #nav-bar #circle4 {
  left: 87%;
  top: -35%;
}
#body-home #nav-bar #circle5 {
  left: 85%;
  top: -30%;
}
#body-home #container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #502C2C;
  z-index: 2;
}
#body-home #side-menu {
  width: 20%;
  height: 100%;
  background-color: #502C2C;
  z-index: 2; /* Set z-index for the side-menu higher than the circles */
}
#body-home #content {
  background-color: #573232;
  width: 80%;
  right: 0;
  height: 100%;
  z-index: 2; /* Set z-index for the content higher than the circles */
  border-radius: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15) inset;
}
#body-home #prompt-login {
  width: 50%;
  margin: auto;
}
#body-home #prompt-login #switch-login:hover {
  cursor: pointer;
  color: blue;
}

.circle {
  border-radius: 50%;
  position: absolute;
  border: solid 1px white;
  width: 20%;
  height: 50%;
  pointer-events: none;
  z-index: 0; /* Set z-index to 0 to keep the circles below other elements */
}

.button {
  margin-top: 5px;
  margin-left: 3%;
  width: 95%;
  height: 25px;
  text-align: center;
  background-color: #573232;
  box-shadow: 0 4px 4px 0 rgba(67, 39, 39, 0.75);
  border-radius: 15px;
  color: whitesmoke;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15) inset;
}
.button:active {
  box-shadow: 0 4px 4px 0 rgba(67, 39, 39, 0.75);
}

.modal {
  display: none; /* Hidden by default */
  position: absolute;
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #573232;
  text-align: center;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px #432727;
  color: whitesmoke;
  width: 0; /* Could be more or less, depending on screen size */
}

form {
  align-content: center;
}
form input {
  background-color: #573232;
  border-radius: 4px;
  color: whitesmoke;
  margin: 10px;
  width: 50%;
}
form button {
  background-color: #573232;
  margin-top: 10px;
  border-radius: 4px;
  color: whitesmoke;
}

/*# sourceMappingURL=stylesheet.css.map */
